<div class="chart-container">
  <% devices.forEach(function(device) { %>
    <h3> <%= device.name %> </h3>
    <div id="chart<%= device._id %>"> </div>
    <div id="y_axis<%= device._id %>"> </div>
    <div id="graph"></div>
  <% }); %>
</div>

<script>
$(function() {
  // set rickshaw charts

  <% devices.forEach(function(device) { %>
    generateGraph('<%= device._id %>', '#chart<%= device._id %>');
  <% }); %>
});

function fetchData(id){
  $.ajax({
    url: '/api/v1/fetch/' + id,
    dataType: "json",
    method: "GET",
    success: function(data){

      console.log('device_id: ' + id);
      console.log(data);
      console.log('------------------------');
      generateGraph(data, '#chart' + id);
    }
  });
}

function generateGraph(id, elemId, yAxis){
  console.log('GRAPH STARTS HERE');
  var graph = new Rickshaw.Graph.Ajax({
      element: document.querySelector(elemId),
      dataURL: '/api/v1/fetch/' + id,
      width: 580,
      height: 250,
      onData: function(d) {
        var n;
        for (n = 0; n < d[0].data.length; n++) {
          d[0].data[n].x /= 1000;
          console.log(d[0].data[n].x);
        }
        return d;

      },
      onComplete: function() {
        // this is also where you can set up your axes and hover detail
          var detail = new Rickshaw.Graph.HoverDetail({
            graph: this.graph,
            timeFixture: new Rickshaw.Fixtures.Time.Local()
           });
          var xAxis = new Rickshaw.Graph.Axis.Time( {
          	graph: graph,
          	timeFixture: new Rickshaw.Fixtures.Time.Local()
          } );

          var y_axis = new Rickshaw.Graph.Axis.Y( {
                  graph: graph,
                  orientation: 'left',
                  tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
                  element: document.getElementById('y_axis' + id),

          } );
          y_axis.render();


          this.graph.render();
        }
  });

  // graph.render();
}
</script>
