<table class="table">
<tr>
	<th>Name</th>
	<th>Device Id</th>
	<th></th>
</tr>
<% devices.forEach(function(device, index){ %>

<tr>
	<td><%= device.name %></td>	
	<td><%= device._id %></td>	
	<td>
		<a href="/device/edit/<%= device._id%>"> Edit </a>
    <a href="#" data-id="<%= device._id%>"> Delete </a>	
	</td>	
</tr>
<tr>
	<!-- API URL -->
	<td colspan='3' class="well">
		http://jumpsparc-iot.herokuapp.com/api/v1/push?device_id=<%= device._id%>?<%= device.data.map(function(item){ return item +"=<value>"; }).join("&"); %>
	</td>
</tr>
<% }); %>

</table>
